
.navbar-header {
    position:static;
    background-color: rgb(225, 222, 222);
    padding-top: 10px;
    padding-bottom: 20px;
    width: 100%;
    margin-bottom: 20;
    display: inline-flex;
    justify-content: space-between;
    font-family: 'Crimson Pro', serif;
    color: white;
    font-size: 16px;
    /* font-weight: 800px; */
    letter-spacing: 5px;
  } 

  .navbar.navbar-inverse {
    background-color: white;
    border-color: white;
  }
  
  body {
    font-family: 'Crimson Pro', serif;
    font-size: 18px;
    background-color:white;
    font-size: 16px;
    line-height: 1;
    margin-top: 20px;
  }
  /* find a furry friend text*/
  h1 {
      font-size: 45px;
      font-weight: 200;
      text-align: top-left;
      position: relative;
      /* font-color: rgb(240, 19, 19); */
      /* background-color: white; */
    
  } 

  /* adoption page for cats and dogs */
  h2 {
    font-size: 20px;
    font-weight: 200;
    margin-top: 40px;
    text-align: top-center;
    position: relative;
    /* font-color: rgb(240, 19, 19); */
    /* background-color: white; */
  }

  #weather-header {
    text-decoration: underline;
    background-color: white;
  }
  
.img-fluid {
    width: 100%;
}
  /* #icon-bg {
    background-color: grey;
    width: 50px;
  } */
  
  .hide {
    display: none;
  }

  .carousel-inner img {
    object-fit: contain;
    object-position: center;
    height: 50vh;
   
  }

  .carousel-item {
    display: inline-block
  }
  
  
  #parkSelector {
      margin-left: 90px;
      padding-top: 50px;
  }
/*   
  #userSelections {
      background-color: white;
      height: 250px;
      padding-right: 50px;
  }   */
  
  .login-card {
    /* object-fit: contain;
    object-position: center;
    height: 50vh;
    margin-top: 50px; */
    background-color: black;
    color: white;

  }
  