<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
    <script src="C:\Users\Lisa\bootcamp\Pet-Project\js\scripts.js"></script>
    <head>
    <title>Find A Furry Friend</title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/lib/index.min.js"></script>
    {{!-- <script src="C:\Users\Lisa\bootcamp\Pet-Project\js\scripts.handlebars"></script> --}}
</head>
  <body>
    <script type="text/x-handlebars-template"> id="template">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <ul>
            {{#each list}}
                <li>{{this.name}}</li>
            {{/each}}
        </ul>
        <p>{{footer}}</p>
    </script>
    <div id="content">

    </div>
    <button onclick="fill_template()">
    What is happening
    </button>
  </body>
</html>